streamlit
langchain
langchain-google-genai
langchain-community
cassio
gtts
sentence-transformers==2.2.2
python-dotenv
google-cloud
transformers
requests
torch==1.13.1
huggingface_hub==0.8.1
